events*
logs/**
*.pth
__pycache__/**
*.pyc
playground/**
histograms/**
*.png
dist/**
niiv.egg-info/**
build/**
data/hemibrain-volume-noisy-large/**

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Weights & Biases
wandb/

# Python
*.egg-info/
__pycache__/
*.py[cod]
*$py.class

